<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/dialog.css">
    <script src="../js/jquery1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource1.3.4.js"></script>
    <script src="../js/config.js"></script>
    <script src="../plugins/My97DatePicker/WdatePicker.js"></script>

</head>
<body>
<div id="businessOrderIndex">
    <div class="form-inline">
        <div class="form-group">
            <label class="sr-only">姓名</label>
            <input v-model="search.name" class="form-control" type="text" placeholder="姓名" style="width: 135px"/>
        </div>
        <div class="form-group">
            <label class="sr-only">手机号</label>
            <input v-model="search.phone" style="width:135px" class="form-control" type="text"
                   placeholder="手机号"/>
        </div>
        <div class="form-group">
            下单时间：
            <label class="sr-only">开始时间</label>
            <input id="txtBeginDate" v-model="search.beginDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                   class="form-control" type="text" placeholder="请输入开始时间"/>
            ---
            <label class="sr-only">结束时间</label>
            <input id="txtEndDate" v-model="search.endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                   class="form-control" type="text" placeholder="请输入结束时间"/>
        </div>
        <div class="form-group">
            付款时间：
            <label class="sr-only">开始时间</label>
            <input id="txtPayBeginDate" v-model="search.payBeginDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                   class="form-control" type="text" placeholder="请输入开始时间"/>
            ---
            <label class="sr-only">结束时间</label>
            <input id="txtPayEndDate" v-model="search.payEndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                   class="form-control" type="text" placeholder="请输入结束时间"/>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <select v-model="search.status" class="form-control">
                    <option value="-1" selected="selected">处理情况</option>
                    <option value="0">未支付</option>
                    <option value="1">已支付</option>
                    <option value="2">已取消</option>
                    <option value="3">已退款</option>
                    <option value="5">已完成</option>
                </select>
            </div>
        </div>
        <button id="btnSearch" type="button" @click="getIprDeals" class="btn btn-primary">搜索</button>
        <a class="btn btn-primary" :href="exportUrl1">导出</a>
        <input id="txtSearch" type="hidden" @click="getIprDeals('msg')"/>
        <input id="hidIprDealId" type="hidden" />
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="main">
            <thead>
            <tr>
                <th style="text-align:center;vertical-align:middle;">序号</th>
                <th style="text-align:center;vertical-align:middle;">姓名</th>
                <th style="text-align:center;vertical-align:middle;">电话</th>
                <th style="text-align:center;vertical-align:middle;">订单号</th>
                <th style="text-align:center;vertical-align:middle;">订单类别</th>
                <th style="text-align:center;vertical-align:middle;">项目</th>
                <th style="text-align:center;vertical-align:middle;">标题</th>
                <th style="text-align:center;vertical-align:middle;">价格</th>
                <th style="text-align:center;vertical-align:middle;">支付方式</th>
                <th style="text-align:center;vertical-align:middle;">付款时间</th>
                <th style="text-align:center;vertical-align:middle;">状态</th>
                <th style="text-align:center;vertical-align:middle;">创建时间</th>
                <th style="text-align:center;vertical-align:middle;">操作</th>
            </tr>
            </thead>
            <tbody>

            <template>
                <tr v-for="(bo,index) in businessOrders">
                    <td style="text-align:center;vertical-align:middle;">{{beginIndex + 1 + index}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.name}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.cellphone}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.orderId}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.typeDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.item}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.title}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.amount}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.wayDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.payTime}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.statusDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{bo.createTime}}</td>
                    <td style="text-align:center;vertical-align:middle;">
                    </td>
                </tr>
            </template>

            </tbody>
        </table>
    </div>

    <div id="baseDialog"><script>getDialog('baseDialog','../basedialog.html');</script></div>

</div>

<div id="page"><script>getPaging();</script></div>
<script src="js/index.js"></script>

</body>
</html>