<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>邮箱列表</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/dialog.css">
    <script src="../js/jquery1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource1.3.4.js"></script>
    <script src="../js/config.js"></script>
    <script src="../plugins/My97DatePicker/WdatePicker.js"></script>

</head>
<body>
<div id="emailIndex">
    <div class="form-inline">
        <div class="form-group">
            <label class="sr-only">邮箱地址</label>
            <input id="txtEmailTitle" v-model="search.emailAddress" style="width:135px" class="form-control" type="text"
                   placeholder="请输入邮箱地址"/>
        </div>
        <div class="form-group">
            <label class="sr-only">对应机构</label>
            <input id="txtEmailContent" v-model="search.emailName" class="form-control" type="text" placeholder="请输入对应机构" style="width:135px"/>
        </div>

        <div class="form-group">
            创建时间：
            <label class="sr-only">创建开始时间</label>
            <input id="txtBeginDate" class="form-control" type="text" placeholder="请输入创建开始时间"/>
            ---
            <label class="sr-only">创建结束时间</label>
            <input id="txtEndDate" class="form-control" type="text" placeholder="请输入创建结束时间"/>
        </div>

        <button id="btnSearch" type="button" @click="getEmails" class="btn btn-primary">搜索</button>

        <a class="btn btn-primary" href="edit.html" data-target="#dialog" data-toggle="modal">添加邮箱</a>

        <input id="txtSearch" type="hidden" @click="getEmails('msg')"/>
        <input id="hidEmailId" type="hidden"/>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="main">
            <thead>
            <tr>
                <th style="text-align:center;vertical-align:middle;">编号</th>
                <th style="text-align:center;vertical-align:middle;">邮箱</th>
                <th style="text-align:center;vertical-align:middle;">对应机构</th>
                <th style="text-align:center;vertical-align:middle;">创建人</th>
                <th style="text-align:center;vertical-align:middle;">创建时间</th>
                <th style="text-align:center;vertical-align:middle;">操作</th>
            </tr>
            </thead>
            <tbody>

            <template>
                <tr v-for="(email,index) in emails">
                    <td style="text-align:center;vertical-align:middle;">{{beginIndex + 1 + index}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{email.emailAddress}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{email.emailName}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{email.creator}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{email.createTimeDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">
                        <div>
                            <a class="btn btn-xs btn-info" href="edit.html" data-target="#dialog"
                               data-toggle="modal" onclick="setEmailId(this.id);" :id="email.emailId">编辑</a>
                        </div>

                    </td>
                </tr>
            </template>

            </tbody>
        </table>
    </div>

    <div id="baseDialog">
        <script>getDialog('baseDialog', '../basedialog.html');</script>
    </div>


</div>
<div id="page">
    <script>getPaging();</script>
</div>
<script src="../js/email/index.js"></script>

</body>
</html>