<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提现申请列表</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <script src="../js/jquery1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource1.3.4.js"></script>
    <script src="../js/config.js"></script>
    <script src="../plugins/My97DatePicker/WdatePicker.js"></script>

</head>
<body>
<div id="moneyApplyIndex">
    <div class="form-inline">
        <div class="form-group">
            <label class="sr-only">姓名</label>
            <input v-model="search.name" style="width:135px" class="form-control" type="text" placeholder="请输入姓名"/>
        </div>
        <div class="form-group">
            <label class="sr-only">手机号</label>
            <input v-model="search.cellphone" style="width:135px" class="form-control" type="text" placeholder="请输入手机号"/>
        </div>
        <div class="form-group">
            <label class="sr-only">金额</label>
            <input v-model="search.amount" style="width:135px" class="form-control" type="text" placeholder="获取输入金额以下的数据"/>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <select id="accountType" v-model="search.accountType" class="form-control">
                    <option value="-1" selected="selected">账户类型</option>
                    <option value="1">支付宝</option>
                    <option value="2">微信</option>
                    <option value="3">银联</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <select id="validate" v-model="search.validate" class="form-control">
                    <option value="-1" selected="selected">验证状态</option>
                    <option value="0">待审核</option>
                    <option value="1">通过</option>
                    <option value="2">未通过</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            申请时间：
            <label class="sr-only">开始时间</label>
            <input id="txtBeginDate" class="form-control" type="text" placeholder="开始时间"/>
            ---
            <label class="sr-only">结束时间</label>
            <input id="txtEndDate" class="form-control" type="text" placeholder="结束时间"/>
        </div>
        <button id="btnSearch" type="button" @click="getMoneyApplys" class="btn btn-primary">搜索</button>

        <div class="form-group">
            <span >待审核数量：</span>
            <input v-model="total" style="width:100px;color: red" readonly class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <span >待审核金额：</span>
            <input v-model="allAmount" style="width:100px;color: red" readonly class="form-control" type="text"/>
        </div>


        <a class="btn btn-primary" :href="exportUrl">导出</a>
        <input id="txtSearch" type="hidden" @click="getMoneyApplys('msg')"/>

        <input id="hidApplyId" type="hidden"/>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="main">
            <thead>
            <tr>
                <th style="text-align:center;vertical-align:middle;">序号</th>
                <th style="text-align:center;vertical-align:middle;">姓名</th>
                <th style="text-align:center;vertical-align:middle;">账户类型</th>
                <th style="text-align:center;vertical-align:middle;">提现前金额</th>
                <th style="text-align:center;vertical-align:middle;">本次提现金额</th>
                <th style="text-align:center;vertical-align:middle;">提现后余额</th>

                <th style="text-align:center;vertical-align:middle;">实际到账</th>
                <th style="text-align:center;vertical-align:middle;">手续费</th>

                <th style="text-align:center;vertical-align:middle;">IP</th>
                <th style="text-align:center;vertical-align:middle;">申请时间</th>
                <th style="text-align:center;vertical-align:middle;">第三方平台用户id</th>
                <th style="text-align:center;vertical-align:middle;">验证状态</th>
                <th style="text-align:center;vertical-align:middle;">驳回原因</th>
                <th style="text-align:center;vertical-align:middle;">操作</th>
            </tr>
            </thead>
            <tbody>

            <template>
                <tr v-for="(mp,index) in moneyApplys">
                    <td style="text-align:center;vertical-align:middle;">{{beginIndex + 1 + index}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.name}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.accountTypeDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.beforeAmount}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.amount}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.afterAmount}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.realAmount}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.fee}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.ip}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.createTime}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{mp.account}}</td>
                    <td style="text-align:center;vertical-align:middle;">
                        <span v-if="mp.validate == 1" style="color: green">
                            {{mp.validateDisplay}}
                        </span>
                        <span v-else-if="mp.validate == 2" style="color: red">
                            {{mp.validateDisplay}}
                        </span>
                        <span v-else="mp.validate == 0">
                            {{mp.validateDisplay}}
                        </span>
                    </td>
                    <td style="text-align:center;vertical-align:middle;">buzoda,weitongguoyuan</td>
                    <td style="text-align:center;vertical-align:middle;">
                        <a v-if="mp.validate == 0" class="btn btn-xs btn-info" href="check.html" data-target="#dialog"
                           data-toggle="modal" onclick="setApplyId(this.id);" :id="mp.applyId">验证</a>
                    </td>
                </tr>
            </template>

            </tbody>
        </table>
    </div>

    <div id="baseDialog"><script>getDialog('baseDialog','../basedialog.html');</script></div>

</div>

<div id="page"><script>getPaging();</script></div>
<script src="../js/moneyapply/index.js"></script>

</body>
</html>