<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑版本</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../ueditor/themes/iframe.css">
    <script src="../js/jquery1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource1.3.4.js"></script>
    <script src="../js/config.js"></script>
</head>
<body>
<div id="editVersion">
<div class="modal-header">
    <button type="button" class="close editClose" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">编辑版本</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="title" placeholder="标题"  v-model="title">
            </div>
            <div class="col-sm-1">
                <h4 style="color: red">*</h4>&nbsp;
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">版本号</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="number" placeholder="版本号"  v-model="number">
            </div>
            <div class="col-sm-1">
                <h4 style="color: red">*</h4>&nbsp;
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">版本说明</label>
            <div class="col-sm-9">
                <!--<script id="editor" type="text/plain" style="width:735px;height:500px;"></script>-->
                <textarea class="form-control" v-model="note" rows="5"></textarea>
            </div>
            <div class="col-sm-1">
                <h4 style="color: red">*</h4>&nbsp;
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="btnClose" type="button" class="btn btn-default editClose" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary" @click="editVersion">保存</button>
</div>
</div>

<script src="../js/version/edit.js"></script>
</body>
</html>