<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>企业线索列表</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/dialog.css">
    <script src="../js/jquery1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource1.3.4.js"></script>
    <script src="../js/config.js"></script>
    <script src="../plugins/My97DatePicker/WdatePicker.js"></script>

    <style>
        .modal {
            overflow: auto !important;
        }
    </style>
</head>
<body>
<div id="clueIndex">
    <div class="form-inline">

        <div class="form-group">
            <label class="sr-only">任务标题</label>
            <input id="txtTask" v-model="search.taskTitle" style="width:130px" class="form-control" type="text"
                   placeholder="请输入任务标题"/>
        </div>

        <div class="form-group">
            <label class="sr-only">商品名</label>
            <input id="txtProductName" v-model="search.productName" style="width:120px" class="form-control" type="text"
                   placeholder="请输入商品名"/>
        </div>
        <div class="form-group">
            <label class="sr-only">品牌名</label>
            <input id="txtBrandName" v-model="search.brandName" style="width:120px" class="form-control" type="text"
                   placeholder="请输入品牌名"/>
        </div>
        <div class="form-group">
            <label class="sr-only">编号</label>
            <input id="txtSerialNumber" v-model="search.serialNumber" style="width:130px" class="form-control" type="text"
                   placeholder="请输入编号"/>
        </div>
        <div class="form-group">
            创建时间：
            <label class="sr-only">创建开始时间</label>
            <input id="txtBeginDate" class="form-control" type="text" placeholder="请输入创建开始时间"/>
            ---
            <label class="sr-only">创建结束时间</label>
            <input id="txtEndDate" class="form-control" type="text" placeholder="请输入创建结束时间"/>
        </div>

        <div class="form-group">
            <select id="selProvinceId" v-model="search.provinceId" class="form-control" style="margin-left: 15px"
                    @change="getSubrange(search.provinceId)">
                <option value="" selected="selected">全国</option>
                <option v-for="province in provinces" v-bind:value="province.regionId">
                    {{ province.regionName }}
                </option>
            </select>
            ---
            <select id="selCityId" v-model="search.cityId" class="form-control" @change="getSubrange(search.cityId)">
                <option value="" selected="selected">全省</option>
                <option v-for="city in cities" v-bind:value="city.regionId">
                    {{ city.regionName }}
                </option>
            </select>
            ---
            <select id="selAreaId" v-model="search.areaId" class="form-control">
                <option value="" selected="selected">全市</option>
                <option v-for="area in areas" v-bind:value="area.regionId">
                    {{ area.regionName }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="sr-only">街道</label>
            <input id="txtStreet" v-model="search.street" style="width:150px" class="form-control" type="text"
                   placeholder="请输入街道信息"/>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <select id="selClueVerify" v-model="search.clueVerify" class="form-control">
                    <option value="-1" selected="selected">验证情况</option>
                    <option value="1">未验证</option>
                    <option value="3">已验证</option>
                    <option value="4">验证未通过</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <select id="selShopType" v-model="search.shopType" class="form-control">
                    <option value="-1" selected="selected">商店类型</option>
                    <option value="0">实体商店</option>
                    <option value="1">仓库</option>
                    <option value="2">工厂</option>
                    <option value="3">网店</option>
                    <option value="4">其他</option>
                </select>
            </div>
        </div>

        <button id="btnSearch" type="button" @click="getClues" class="btn btn-primary">搜索</button>

        <a class="btn btn-primary" :href="exportUrl">导出</a>

        <input id="txtSearch" type="hidden" @click="getClues('msg')"/>
        <input id="hidClueId" type="hidden"/>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="main">
            <thead>
            <tr>
                <th style="text-align:center;vertical-align:middle;">序号</th>
                <th style="text-align:center;vertical-align:middle;">编号</th>
                <th style="text-align:center;vertical-align:middle;">任务</th>
                <th style="text-align:center;vertical-align:middle;">产品</th>
                <th style="text-align:center;vertical-align:middle;">品牌</th>
                <th style="text-align:center;vertical-align:middle;">数量</th>
                <th style="text-align:center;vertical-align:middle;">地址</th>
                <th style="text-align:center;vertical-align:middle;">商店名</th>
                <th style="text-align:center;vertical-align:middle;">商店类型</th>
                <th style="text-align:center;vertical-align:middle;">发现时间</th>
                <th style="text-align:center;vertical-align:middle;">创建时间</th>
                <th style="text-align:center;vertical-align:middle;">验证情况</th>
                <th style="text-align:center;vertical-align:middle;">操作</th>
            </tr>
            </thead>
            <tbody>

            <template>
                <tr v-for="(clue,index) in clues">
                    <td style="text-align:center;vertical-align:middle;">{{beginIndex + 1 + index}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.serialNumber}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.taskTitle}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.product}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.brand}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.amount}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.address}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.shop}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.shopTypeDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.findTime}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.createTime}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{clue.clueVerifyDisplay}}</td>
                    <td style="text-align:center;vertical-align:middle;">
                        <div v-if="clue.validate == 1">
                            <a class="btn btn-xs btn-success" href="edit.html" data-target="#dialog"
                               data-toggle="modal" onclick="setClueId(this.id);" :id="clue.clueId">验证</a>
                        </div>
                        <div v-else>
                            <a class="btn btn-xs btn-info" href="check.html" data-target="#dialog"
                               data-toggle="modal" onclick="setClueId(this.id);" :id="clue.clueId">查看</a>
                        </div>
                        <!--<div v-else-if="clue.validate == 4">
                            <a class="btn btn-xs btn-info" href="check.html" data-target="#dialog"
                               data-toggle="modal" onclick="setClueId(this.id);" :id="clue.clueId">查看</a>
                        </div>-->

                    </td>
                </tr>
            </template>

            </tbody>
        </table>
    </div>

    <div id="baseDialog">
        <script>getDialog('baseDialog', '../basedialog.html');</script>
    </div>


</div>
<div id="secondDialog">
    <script>getDialog('secondDialog', '../seconddialog.html');</script>
</div>
<div id="page">
    <script>getPaging();</script>
</div>
<script src="../js/eclue/index.js"></script>

</body>
</html>