<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qivay.mapper.LawAnswerMapper">
    <resultMap id="lawAnswerMap" type="com.qivay.domain.LawAnswer">
        <id property="lawAnswerId" column="law_answer_id"/>
        <result property="answer" column="answer"/>
        <result property="evaluation" column="evaluation"/>
        <result property="star" column="star"/>
        <result property="starResponse" column="star_response"/>
        <result property="starProfessional" column="star_professional"/>
        <result property="starConsult" column="star_consult"/>
        <result property="lawyerId" column="lawyer_id"/>
        <result property="read" column="read"/>
        <result property="lawAskId" column="law_ask_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="findById" resultMap="lawAnswerMap">
        select * from law_answer where law_answer_id = #{lawAnswerId}
    </select>

    <select id="findByLawAskId" resultMap="lawAnswerMap">
        select * from law_answer where law_ask_id = #{lawAskId}
    </select>

</mapper>