<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource1.3.4.js"></script>
    <script src="../js/config.js"></script>

</head>
<body>
<div id="showUnbind">
    <div class="modal-header">
        <button type="button" class="close editClose" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">详情</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" readonly placeholder="姓名" v-model="name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">电话</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" readonly placeholder="电话" v-model="phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">账户类型</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" readonly placeholder="账户类型" v-model="accountTypeDisplay">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">身份证号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" readonly placeholder="身份证号" v-model="idCard">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">缘由</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" readonly v-model="cause_x"></textarea>
                </div>
            </div>
            <div v-if="state == 0" class="form-group">
                <label class="col-sm-2 control-label">不通过原因</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" v-model="cause"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button v-if="state == 0" type="button" class="btn btn-warning" @click="verifyUnbind($event.currentTarget)" data-msg="2">不通过
        </button>
        <button v-if="state == 0" type="button" class="btn btn-success" @click="verifyUnbind($event.currentTarget)" data-msg="1">通过并解绑
        </button>
        <button id="btnClose" type="button" class="btn btn-default editClose" data-dismiss="modal">关闭</button>
    </div>
</div>
<script src="js/show.js"></script>
</body>
</html>